.footer-mint {
  width: 100%;

  &__links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px 0 32px;

    @media (max-width:992px) {
      margin: 60px 0 0;
      padding: 0 0 32px;
      justify-content: flex-start;
    }

    &-item {
      font-family: 'Saira';
      font-weight: 300;
      font-size: 14px;
      line-height: 140%;
      text-decoration-line: underline;
      color: #969696;
      transition: all .3s ease;

      &:hover {
        color: #FFFFFF;
      }

      &:not(:first-child) {
        margin: 0 0 0 48px;
      }
    }
  }
}