@import '_variables.scss';

@mixin flex($direction: row, $alignment: normal, $justification: normal, $wrap: wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justification;
  align-items: $alignment;
  flex-wrap: $wrap;
}

@mixin b($point) {
  @if $point==desktop {
    @media (max-width: $mediaWidthLaptop) {
      @content;
    }
  }

  @else if $point==tablet {
    @media (max-width: $mediaWidthDesktop) {
      @content;
    }
  }

  @else if $point==preTablet {
    @media (max-width: $mediaWidthLessDesktop) {
      @content;
    }
  }

  @else if $point==mobile {
    @media (max-width: $mediaWidthTablet) {
      @content;
    }
  }

  @else if $point==extramobile {
    @media (max-width: $mediaWidthMobile) {
      @content;
    }
  }

  @else if $point==mobile3x {

    @media only screen and (-webkit-min-device-pixel-ratio: 3),
    only screen and (min-resolution: 3dppx),
    only screen and (min-resolution: 350dpi) {
      @content;
    }
  }

  @else {
    @media (max-width: $point + 'px') {
      @content;
    }
  }
}