<div class="modal choose"> 
  <div class="modal__bg"></div>
  <div class="choose-body">
    <div class="choose__title">
      Choose a wallet
    </div>
    <div class="choose-body__items">
      <a href="" class="choose-body__item">
        <span class="wallet__id">
          hxea9eda5ecc42bed0a9e406670cc8c6110a0877e8
        </span>
        <span class="wallet__id wallet__id_mob">
          hxea9e...77e8
        </span>
        <span class="wallet__value">
          0 ICX
        </span>
      </a>
      <a href="" class="choose-body__item active">
        <span class="wallet__id">
          hxea9eda5ecc42bed0a9e406670cc8c6110a0877e8
        </span>
        <span class="wallet__id wallet__id_mob">
          hxea9e...77e8
        </span>
        <span class="wallet__value">
          0 ICX
        </span>
      </a>
      <a href="" class="choose-body__item">
        <span class="wallet__id">
          hxea9eda5ecc42bed0a9e406670cc8c6110a0877e8
        </span>
        <span class="wallet__id wallet__id_mob">
          hxea9e...77e8
        </span>
        <span class="wallet__value">
          0 ICX
        </span>
      </a>
      <a href="" class="choose-body__item">
        <span class="wallet__id">
          hxea9eda5ecc42bed0a9e406670cc8c6110a0877e8
        </span>
        <span class="wallet__id wallet__id_mob">
          hxea9e...77e8
        </span>
        <span class="wallet__value">
          0 ICX
        </span>
      </a>
    </div>
    <div class="choose-body__pages">
      <div class="choose-body__pages-prev">
        Previous
      </div>
      <div class="choose-body__pages-content">
        <div class="choose-body__pages-item">
          1
        </div>
        <div class="choose-body__pages-item">
          2
        </div>
        <div class="choose-body__pages-item">
          3
        </div>
        <div class="choose-body__pages-item active">
          4
        </div>
        <div class="choose-body__pages-item">
          5
        </div>        
      </div>
      <div class="choose-body__pages-next">
        Next
      </div>
    </div>
    <div class="choose-body__pages choose-body__pages_mob">
      <div class="choose-body__pages-prev">
        <img src="./img/icons/left-arrow.svg" alt="">
      </div>
      <!-- <div class="choose-body__pages-content"> -->
        <div class="choose-body__pages-item">
          1
        </div>
        <div class="choose-body__pages-item">
          ...
        </div>
        <div class="choose-body__pages-item active">
          3
        </div>        
      <!-- </div> -->
      <div class="choose-body__pages-next">
        <img src="./img/icons/right-arrow.svg" alt="">
      </div>
    </div>
    <div class="choose-body__cancel">
      Cancel
    </div>
  </div>
</div>