<div class="modal confirm"> 
  <div class="modal__bg"></div>
  <div class="confirm-body">
    <div class="confirm__img">
      <img src="./img/mint-page/modal/check.svg" alt="">
    </div>
    <div class="confirm__title">
      Confirm action
    </div>
    <div class="confirm-content">
      <div class="confirm-content__item">
        <span>Number of mint NFT:</span>
        <span>2</span>
      </div>
      <div class="confirm-content__item">
        <span>Total:</span>
        <span>498 ICX</span>
      </div>
    </div>
    <div class="confirm__btn btn">
      Confirm
    </div>
    <div class="confirm__cancel">
      Cancel
    </div>
  </div>
</div>