<div class="modal connect"> 
  <div class="modal__bg"></div>
  <div class="connect-body">
    <div class="connect__title">
      Connect to a wallet
    </div>
    <div class="connect-content">
      <div class="connect-content__item">
        <div class="connect-content__item-name">
          Icon
        </div>
        <div class="connect-content__item-logo">
          <img src="./img/mint-page/modal/connect/icon-logo.svg" alt="">
        </div>
      </div>
      <div class="connect-content__item ledger-choose-btn">
        <div class="connect-content__item-name">
          Ledger
        </div>
        <div class="connect-content__item-logo">
          <img src="./img/mint-page/modal/connect/ledger-logo.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>