<div class="modal confirm"> 
  <div class="modal__bg"></div>
  <div class="confirm-body">
    <div class="confirm__img">
      <img src="./img/mint-page/modal/check.svg" alt="">
    </div>
    <div class="confirm__title">
      Confirm action
    </div>
    <div class="confirm__subtitle">
      You are minting 100 NFTs Total <br> transaction cost is 498 ICX
    </div>
    <div class="confirm__btn btn">
      Confirm
    </div>
    <div class="confirm__cancel">
      Cancel
    </div>
  </div>
</div>