<div class="modal congrats"> 
  <div class="modal__bg"></div>
  <div class="congrats-body congrats-body_one">
    <div class="congrats-body__title">
      Congratulations
    </div>
    <div class="congrats-body__subtitle">
      You successfully minted 1 NFT
    </div>
    <div class="congrats-content">
      <div class="congrats-content__item">
        <div class="congrats-content__item-name">
          GOLD
        </div>
        <div class="congrats-content__item-img">
          <img src="./img/mint-page/modal/gold.png" alt="">
        </div>
      </div>
    </div>
    <div class="congrats-body__btn btn">
      Okay
    </div>
  </div>
</div>