<div class="modal error-modal"> 
  <div class="modal__bg"></div>
  <div class="confirm-body">
    <div class="confirm__img">
      <img src="./img/mint-page/modal/error.svg" alt="">
    </div>
    <div class="confirm__title">
      ERROR MINT
    </div>
    <div class="confirm__subtitle">
      Here we make space for a description of the error. The size should not exceed 50 words. The error will occupy a maximum of 50 words.
    </div>
    <div class="error-modal__btn btn">
      Close
    </div>
  </div>
</div>