<div class="notification">
  <div class="notification-body">
    <div class="notification__item notification__item_err">
      <div class="notification__item-close">
        <img src="./img/icons/close.svg" alt="">
      </div>
      <div class="notification__item-content">
        <div class="notification__item-title">
          Name of error
        </div>
        <div class="notification__item-desc">
          Space for the description, which will take from one to two lines
        </div>
      </div>
      <div class="notification__item-progress" style="--notifiProgress: 10%;"></div>
    </div>
    <div class="notification__item notification__item_success">
      <div class="notification__item-close">
        <img src="./img/icons/close.svg" alt="">
      </div>
      <div class="notification__item-content">
        <div class="notification__item-title">
          Name of succes
        </div>
        <div class="notification__item-desc">
          Space for the description, which will take from one to two lines
        </div>
      </div>
      <div class="notification__item-progress" style="--notifiProgress: 10%;"></div>
    </div>
    <div class="notification__item notification__item_info">
      <div class="notification__item-close">
        <img src="./img/icons/close.svg" alt="">
      </div>
      <div class="notification__item-content">
        <div class="notification__item-title">
          Name of information
        </div>
        <div class="notification__item-desc">
          Space for the description, which will take from one to two lines
        </div>
      </div>
      <div class="notification__item-progress" style="--notifiProgress: 10%;"></div>
    </div>
  </div>
</div>