<header class="header">
	<div class="header__sound">
		<img src="./img/header/sound-default.svg" alt="">
		<img src="./img/header/sound-hover.svg" alt="">
		<img src="./img/header/sound-active.svg" alt="">
		<img src="./img/header/sound-disable.svg" alt="">
	</div>
	<div class="container">
		<div class="header-body">
			<a href="./index.html" class="header-body__logo">
				<!-- <img src="./img/header/logo.svg" alt=""> -->
				<img src="./img/header/logo.png" srcset="./img/header/logo.png 1x, ./img/header/logo@2x.png 2x" alt="">
			</a>
			<div class="header-menu">
				<a href="./mint.html" class="header-menu__item header-menu__item_live">
					<span>live</span>
					Mint
				</a>
				<a href="#" class="header-menu__item header-menu__item_live">
					<span>live</span>
					Arena
				</a>
				<div class="header-menu__item dropdown">
					More
					<div class="dropdown-list">
						<a href="#" class="dropdown-list__item">
							long menu item #1
						</a>
						<a href="#" class="dropdown-list__item">
							long menu item #2
						</a>
						<a href="#" class="dropdown-list__item">
							long menu item #3
						</a>
					</div>
				</div>

				<div class="header-wallet header-wallet_mob">
					<div class="header-wallet__balance">
						400 ICX
					</div>
					<div class="header-wallet__item">
						<div class="header-wallet__item-ico">
							<img src="./img/header/wallet-ico.svg" alt="">
						</div>
						<div class="header-wallet__item-id">
							0x7c28...f995
						</div>
	
						<div class="header-wallet__disconnect">
							Disconnect
							<img src="./img/header/wallet-exit.svg" alt="">
						</div>
					</div>
				</div>

			</div>

			<div class="header-wallet">
				<div class="header-wallet__balance">
					400 ICX
				</div>
				<div class="header-wallet__item">
					<div class="header-wallet__item-ico">
						<img src="./img/header/wallet-ico.svg" alt="">
					</div>
					<div class="header-wallet__item-id">
						0x7c28...f995
					</div>

					<div class="header-wallet__disconnect">
						Disconnect
						<img src="./img/header/wallet-exit.svg" alt="">
					</div>
				</div>
			</div>

			<div class="header-body__burger">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
</header>