.faq {
  padding: 120px 0;

  @media (max-width:992px) {
    padding: 50px 0;
  }

  &__label {
    font-family: 'mgs4brush';
    font-weight: 400;
    font-size: 35px;
    line-height: 140%;

    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #74182A;

    @media (max-width:992px) {
      font-size: 24px;
      line-height: 152%;
    }
  }

  &__title {
    margin: 20px 0 0;
    font-size: 54px;
    line-height: 130%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 920px;

    @media (max-width:992px) {
      margin: 12px 0 0;
      font-size: 27px;
    }
  }

  &-body {
    margin: 64px 0 0 auto;
    max-width: 960px;

    @media (max-width:992px) {
      margin: 40px 0 0 auto;
    }
  }

  .container {
    position: relative;
  }

  &-bg__light {
    user-select: none;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    transform: translate(-75%, 35%);

    img {
      &:nth-child(2) {
        display: none;
      }
    }

    @media (max-width:992px) {
      top: -100px;
      right: 0;
      bottom: auto;
      left: auto;
      transform: translate(0);

      img {
        &:nth-child(1) {
          display: none;
        }

        &:nth-child(2) {
          display: block;
        }
      }
    }
  }

  &-item {
    padding: 0 0 32px;
    border-bottom: 1px solid #313131;

    @media (max-width:992px) {
      padding: 0 0 20px;
    }

    &:not(:first-child) {
      margin: 32px 0 0;
    }

    &.active {
      .faq-item__title {
        svg {
          color: #74182A;
          transform: rotate(0deg);
        }
      }

      .faq-item__content {
        display: block;
      }
    }

    &__title {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      line-height: 165%;
      text-transform: uppercase;
      color: #FFFFFF;

      @media (max-width:992px) {
        font-size: 16px;
      }

      svg {
        flex: 0 0 auto;
        width: 26px;
        height: 26px;
        color: #FFFFFF;
        transition: all .3s ease;
        transform: rotate(90deg);
      }

      span {
        flex: 0 0 auto;
        display: block;
        width: 100%;
        max-width: 760px;

        @media (max-width:992px) {
          width: calc(100% - 50px);
        }
      }
    }

    &__content {
      display: none;
      margin: 20px 0 0;
      font-family: 'Saira';
      font-weight: 400;
      font-size: 16px;
      line-height: 152%;
      color: #969696;
      max-width: 760px;

      @media (max-width:992px) {
        font-weight: 300;
        font-size: 14px;
        line-height: 140%;
        margin: 12px 0 0;
        width: calc(100% - 50px);
      }
    }
  }
}