.mint {
  padding: 120px 0;
  background-image: url(../img/mint/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  @media (max-width:992px) {
    padding: 50px 0;
  }

  &__title {
    font-size: 54px;
    line-height: 130%;

    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFFFF;

    @media (max-width:992px) {
      font-size: 27px;
    }
  }

  &__desc {
    margin: 20px auto 0;
    font-family: 'Saira';
    font-weight: 400;
    font-size: 16px;
    line-height: 152%;
    text-align: center;
    color: #969696;
    max-width: 400px;

    @media (max-width:992px) {
      margin: 16px 0 0;
      font-size: 14px;
      line-height: 140%;
    }
  }

  &-body {
    margin: 40px 0 0;

    @media (max-width:992px) {
      margin: 25px 0 0;
    }

    &__line {
      --countPercent: 0%;
      width: 100%;
      max-width: 770px;
      height: 36px;
      margin: 0 auto;
      position: relative;
      transform: skew(-20deg);

      @media (max-width:992px) {
        height: 28px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #313131;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: var(--countPercent);
        height: 100%;
        background: #313131;
        background: #74182A;
      }
    }

    &__count {
      margin: 20px 0 0;
      font-family: 'Saira';
      font-weight: 400;
      font-size: 16px;
      line-height: 152%;
      text-align: center;
      color: #969696;

      @media (max-width:992px) {
        font-weight: 300;
        font-size: 14px;
        line-height: 140%;
      }
    }

    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px auto 0;
      padding: 20px 0;
      background: #FFFFFF;
      width: 100%;
      max-width: 260px;

      font-weight: 700;
      font-size: 16px;
      line-height: 130%;
      text-transform: uppercase;
      color: #101010;

      border: 1px solid #FFFFFF;
      transition: all .3s ease;

      &:hover {
        background-color: #181818;
        color: #FFFFFF;
      }

      &.disabled {
        border: 1px solid #313131;
        background: #313131;
        color: #969696;
      }

      @media (max-width:992px) {
        padding: 14px 0;
      }
    }
  }
}