// -------- imports --------
@import '../../node_modules/swiper/swiper.scss';
@import "fonts";
@import "components/_normalize.scss";
@import "components/_mixins.scss";
@import "components/_variables.scss";
@import "components/_variables.scss";
@import "components/_header.scss";
@import "components/_footer.scss";
@import "components/_footer-mint.scss";
@import "components/_ui.scss";
@import "pages/index/_main.scss";
@import "pages/index/_description.scss";
@import "pages/index/_advantages.scss";
@import "pages/index/_partners.scss";
@import "pages/index/_heroes.scss";
@import "pages/index/_rarity.scss";
@import "pages/index/_ecosystem.scss";
@import "pages/index/_video.scss";
@import "pages/index/_mint.scss";
@import "pages/index/_roadmap.scss";
@import "pages/index/_faq.scss";
@import "pages/index/_halvening.scss";
@import "pages/mint/_main.scss";
@import "components/modal/_congrats.scss";
@import "components/modal/_connect.scss";
@import "components/modal/_confirm.scss";
@import "components/modal/_error.scss";
@import "components/modal/_choose.scss";
@import "components/_notification.scss";

// fonts --------- &display=swap || &subset=cyrillic-ext
// throught plugin


::selection {}

body {
  // overflow: auto; // <--- delete this if not necessary
  overflow-x: hidden; // <--- delete this if not necessary
  font-family: 'Halvar Breitschrift';
  font-weight: 500;
  background: #101010;

  &.lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1200px; // <--- container res +30px for padding
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

#cursor__light {
  position: absolute;
  user-select: none;
  pointer-events: none;
  // z-index: 11000;
  z-index: 1;

  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width:992px) {
    display: none;
  }
}



.sitemap {
  width: 100%;
  min-height: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  li {
    flex: 1 1 100%;

    &:not(:first-child) {
      margin: 30px 0 0;
    }

    a {
      font-size: 50px;
      color: #fff;
      transition: all .3s ease;

      &:hover {
        opacity: .8;
      }
    }
  }
}